.directory {
  height: 100%;
  .container {
    height: 100%;
  }
  .wrap {
    height: 100%;
    display: flex;
    .item {
      height: 100%;
      flex: 1;
      background-position: center -115px;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.6);
      background-blend-mode: multiply;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 1s ease;
      a {
        margin-top: 80px;
        padding: 10px 20px;
        color: #fff;
        background-color: #ff6663;
        border-radius: 3px;
        text-transform: capitalize;
        font-weight: bold;
        &:hover {
          color: #444;
          background-color: #fff;
        }
      }
      &:hover {
        flex: 1.2;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
    .item:last-of-type {
      background-position: center -155px;
    }
  }
}
