.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  .container {
    height: 100%;
  }
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    .logo {
      h3 {
        margin: 0;
        color: #444;
        text-transform: capitalize;
      }
    }
  }
}
