.header {
  height: 7rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  .container {
    height: 100%;
  }
  .wrap {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo,
    .registration-link {
      h4 {
        margin: 0;
        color: #444;
        text-transform: uppercase;
      }
    }
  }
}
